{% extends "layout.html" %}
{% block content %}
<div class="text-center">
	<div class="hero-body">
		<h1>ACE Antenna Measurement System</h1>
	</div>
	<br><br><br><br><br><br>
	Welcome! If this is your first time, please read the quick start bellow
	<br>
	<a href="/quickstart" class="btn btn-primary">Quick Start</a>

	<br><br><br><br><br><br><br>
	Ready to plot? Click the button Bellow
	<br>
	<a href="/plotmeasurement" class="btn btn-primary">Plot Measurement</a>
    
    <br><br><br><br>
    <a href="/scratch" class="btn btn-primary">Scratch Page</a>
</div>
{% endblock %}


