<!DOCTYPE html5>
<html>
<head>
	<title>ACE Antenna Measurement System</title>
	<link rel="stylesheet" href="static/css/spectre.min.css">
	<link rel="stylesheet" href="static/css/spectre-exp.min.css">
	<link rel="stylesheet" href="static/spectre-icons.min.css">
	<script type="text/script" src="static/js/main.js"></script>
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
			<a href="..." class="navbar-brand mr-2">Spectre.css</a>
			<a href="..." class="btn btn-link">Docs</a>
			<a href="..." class="btn btn-link">GitHub</a>
		</section>
		<section class="navbar-section">
			<div class="input-group input-inline">
				<input class="form-input" type="text" placeholder="search">
				<button class="btn btn-primary input-group-btn">Search</button>
			</div>
		</section>
	</header>
	<div class="container">
		<div class="hero-body">
	                    <h1>ACE Antenna Measurement System</h1>
	                    <p>Hello World!</p>
		</div>
	</div>
</body>
</html>
