{% extends "layout.html" %}
{% block content %}
<script type="text/script" src="/static/js/scatter_plot_3d_demo.js"></script>
<!--
<div class="text-center">
    <div class="hero-body">
        <h1>ACE Antenna Measurement System</h1>
    </div>

    <div id="divPlot"></div>
    <script>
        d3.select('html').style('height','100%').style('width','100%')
        d3.select('body').style('height','100%').style('width','100%')
        d3.select('#divPlot').style('width', "500px").style('height', "500px")
        scatterPlot3d( d3.select('#divPlot'));
    </script>
            
<div class="flexcontainer">
    <div class="rows">
        <a class="btn btn-primary">Import Data</a>
        <br><br>
        <a class="btn btn-primary">Plot Data</a>
        <br><br>
        <div class="slidecontainer">
        <p>Plotting angle:</p>
        <input type="range" min="90" max="360" value="180">
        </div>    
    </div>
    <div class="rows">
           <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</div>         
    
    
-->
    
    
    <div id="myDiv"></div>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
//Trace is the scatter data to be plotted. Need to replace it with the data from the socket.
    var trace = {
        type: "scatterpolar",
        r: [0, 0.75, 1.75, 2.25, 1.75, 0.75, 0],
        theta: [0, 45, 70, 90, 110, 135, 180],
        mode: 'markers'
    };

    var data = [trace];
    
//Layout specifies the look of the polar graph.
    var layout = {
        
        title: 'Antenna Pettern',
        polar: {
            radialaxis: {
                visible: true,
                range: [0, 5]
            }
        }
    };

    Plotly.newPlot('myDiv', data, layout, {});  
</script>
{% endblock %}