{% extends "layout.html" %}
{% block content %}

<script type="text/script" src="/static/js/scatter_plot_3d_demo.js"></script>


<div id="myDiv"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<script>
    plotGraph(dataInit)
</script>>
    
<button onclick="plotGraph(dataNode)">Import Data</button>



<script>
    var trace = {
        type: "scatterpolar",
        r: [0],
        theta: [0],
        mode: 'markers'
    };
    var data = [trace];
    var layout = {   
        title: 'Antenna Pettern',
        polar: {
            radialaxis: {
                visible: true,
                range: [0, 5]
            }
        }
    };
    Plotly.newPlot('myDiv', data, layout, {});  
</script>


<script>
    var dataInit = {
        type: "scatterpolar",
        r: [0],
        theta: [0],
        mode: 'markers'
    };
    var dataNode = {
        type: "scatterpolar",
        r: [0, 0.75, 1.75, 2.25, 1.75, 0.75, 0],
        theta: [0, 45, 70, 90, 110, 135, 180],
        mode: 'lines+markers'
    };


function plotGraph(trace){
    var data = [trace];
    var layout = {   
        title: 'Antenna Pettern',
        polar: {
            radialaxis: {
                visible: true,
                range: [0, 5]
            }
        }
    };
    Plotly.newPlot('myDiv', data, layout, {});  
}
</script>    

{% endblock %}
