{% extends "layout.html" %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/script" src="/static/js/scatter_plot_3d_demo.js"></script>
<div class="columns">
    <div class="col-9 col-xs-12">
        <div id="myDiv"></div>
    </div>
    <div class="col-3 col-xs-12">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-success btn-lg" onclick="getAndPlotGraph()">Display Measured Data</button>
            </div>
            <div class="card-body">
                The measured (or fake) Antenna pattern is shown in polar form.
            </div>
            <div class="card-footer">
                <button class="btn float-left" onclick="plotGraph(dataNode)">Display Fake Data</button><button class="btn float-right" onclick="resetPowerData()">Reset Server Data</button>
            </div>
        </div>
    </div>
</div>
<script>
    var trace = {
        type: "scatterpolar",
        r: [0],
        theta: [0],
        mode: 'markers'
    };
    var data = [trace];
    var layout = {
        title: 'Antenna Pattern',
        polar: {
            radialaxis: {
                visible: true,
                range: [-30, 30]
            }
        }
    };
    Plotly.newPlot('myDiv', data, layout, {});

    var dataNode = {
        type: "scatterpolar",
        r: [0, 0.75, 1.75, 2.25, 1.75, 0.75, 0],
        theta: [0, 45, 70, 90, 110, 135, 180],
        mode: 'lines+markers'
    };

    function plotGraph(trace){
        var data = [trace];
        var layout = {
            title: 'Antenna Pattern',
            polar: {
                radialaxis: {
                    visible: true,
                    range: [0, 5]
                }
            }
        };
        Plotly.newPlot('myDiv', data, layout, {});
    }
    function getAndPlotGraph(){
        httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = handleDataToGraph;
        httpRequest.open('GET','/getdata', true);
        httpRequest.send();
    }
    function handleDataToGraph(){
        if(httpRequest.readyState === XMLHttpRequest.DONE){
            if(httpRequest.status === 200){
                data = JSON.parse(httpRequest.responseText);
                plotGraph(data);
            }
            else {
                alert('Getting Data Failed!');
            }
        }
    }
    function resetPowerData(){
        httpRequest = new XMLHttpRequest();
        httpRequest.open('GET','/reset', true);
        httpRequest.send();
    }
</script>

{% endblock %}
