<!DOCTYPE html5>
<html>
<head>
	<title>ACE Antenna Measurement System</title>
	<link rel="stylesheet" href="static/css/spectre.min.css">
	<link rel="stylesheet" href="static/css/spectre-exp.min.css">
	<link rel="stylesheet" href="static/spectre-icons.min.css">
	<script type="text/script" src="static/js/main.js"></script>
	<script type="text/script" src="static/js/d3.v5.min.js"></script>
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
            <br>&nbsp;&nbsp;&nbsp;
			<a href="/#" class="navbar-brand mr-2">ACE AMS</a>
			<a href="/static/docs.md" class="btn btn-link">Docs</a>
			<a href="http://github.com/capstone44/" class="btn btn-link">Sources</a>
		</section>
	</header>
	<div class="container">
        <div class="text-center">
		    <div class="hero-body">
            <h1>ACE Antenna Measurement System</h1>
            </div>
            <div class="text-left">
            <h2>Hardware</h2>
            <ol>
              <li>Choose antenna to measure</li>
              <ul>
                  <li>Antenna 1:<br>Patch antenna with a direct beam</li>
                  <li>Antenna 2:<br>Patch antenna with 45 degree directed beam</li>
              </ul>
              <li>Insert chosen antenna into transmitting tower</li>
              <li>Plug in the Antenna Measurement System into wall outlet</li>
            </ol> 
            <h2>Create Plot</h2>
            <ol>
              <li>Choose rotation time</li>
              <li>Choose rotation angle</li>
              <li>Run Antenna Measurement</li>
              <li>Import data</li>
              <li>Choose graph type</li>
              <li>Plot graph</li>
            </ol> 
            </div>
		</div>
	</div>
</body>
</html>
