<!DOCTYPE html5>
<html>
<head>
	<title>ACE Antenna Measurement System</title>
	<link rel="stylesheet" href="static/css/spectre.min.css">
	<link rel="stylesheet" href="static/css/spectre-exp.min.css">
	<link rel="stylesheet" href="static/spectre-icons.min.css">
	<script type="text/script" src="static/js/main.js"></script>
	<script type="text/script" src="static/js/d3.v5.min.js"></script>
</head>
<body>
	<header class="navbar">
		<section class="navbar-section">
            <br>&nbsp;&nbsp;&nbsp;
			<a href="/#" class="navbar-brand mr-2">ACE AMS</a>
			<a href="/static/docs.md" class="btn btn-link">Docs</a>
			<a href="http://github.com/capstone44/" class="btn btn-link">Sources</a>
		</section>
	</header>
	<div class="container">
        <div class="text-center">
		    <div class="hero-body">
            <h1>ACE Antenna Measurement System</h1>
            </div>
            Step 1:<br>
            Hardware Setup:<br>
            Step 2:<br>
            	         Antenna
		 Disntance
                 Power
                 Trouble shooting <br>
            Step 3:<br>
            Step 4:<br>
		</div>
	</div>
</body>
</html>
