{% extends "layout.html" %}
{% block content %}
<div class="text-center">
    <div class="hero-body">
    <h1>Quick Start</h1>
    </div>
    
    <div class="text-left">
        <h3>Introduction</h3>
        <p>
        Welcome! This quick start will help you get started plotting and analyzing your antenna pattern. First, it will walk you through how to plot your data, then it will explain some basic ideas behind the plot so that you understand what the plot means. Let’s get started! 
        </p>
        
        <h3>Example</h3>
        <p>
        After the hardware system is constructed and set up for a test (see hardware guide for help with this) you are ready to use the Antenna Measurement System website to start a capturing data.
        To start, click the PLOT DATA button as shown in figure 1.

            
        <br>FIGURE 1<br>
        After you click this button, you should see the Antenna Under Test (AUT) start to rotate. The AUT is sending out its signal and the receiving antenna is measuring the power of the signal and storing the values.
        After the AUT is done rotating you can view its signal by clicking the IMPORT DATA button shown in figure 2. 

            
        <br>FIGURE 2<br>
            
        After clicking the IMPORT DATA button, the signal from the rotating antenna will be plotted. This is shown in figure 3.

        <br>FIGURE 3<br>
            
        And that’s all there is too it.
        To understand how to analyze the plot, read the simple explanation bellow.
        </p>

        <h3>Theory</h3>
        <p>
        What is an antenna pattern? Antennas send out information through electromagnetic waves. Because these waves are invisible to the eye, a misconception is that the electromagnetic radiation emmits from antennas in a spherical shape. In fact, radiation shapes are far more complicated and beautiful than a sphere. These radiation shapes are called antenna patterns. Several examples of antenna patters can be seen in figures 4-6.
            
        <br>FIGURES 4: 4X4 PATCH ARRAY<br>
        <br>FIGURE 5: DIPOLE ANTENNA<br>
        <br>FIGURE 6: YAGI ANTENNA<br>
            
        Each antenna is designed to have a specific antenna pattern and each pattern has its own unique use. Figure 7 shows the antenna pattern measured with the Antenna Measurement System. 
            
        <br>FIGURE 7 (plotted data from website)<br>
            
        As you may have already guessed, the antenna being measured is a dipole antenna.
        </p>


    </div>
</div>
{% endblock %}
